<!DOCTYPE html>
<html>
<head>
  <title>Rinvsched</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/favicon.png"/>
</head>
<body>
<div id="atiLogo" class="dinline"><%= image_tag "logo.png" %></div><div class="dinline2">
<center><h1> Parts Inventory Schedule </h1></center>
</div><div class="dinline">.                .</div>
<div class="bb"></div>
<%= yield %>
<div class="footer"></div>
</body>
</html>
